;; shadow-cljs configuration
;; [FRAMEWORK FILE] - core build config, not demo-specific

{:deps     true
 :dev-http {8080 "docs/"}

 :builds
 {:app
  {:target     :browser
   :output-dir "docs/cljs-out"
   :asset-path "/cljs-out"

   :modules
   {:main {:init-fn clojkstra.app.core/init}}

   :devtools
   {:after-load clojkstra.app.core/on-reload}}}}
