{:source-paths ["src"]

 :dependencies [[reagent "2.0.1"]
                [re-frame "1.4.3"]]

 :dev-http {8080 "docs"}

 :builds
 {:app {:target     :browser
        :output-dir "docs/cljs-out"
        :asset-path "cljs-out"
        :modules    {:main {:init-fn clojkstra.app.core/init}}
        :devtools   {:after-load clojkstra.app.core/on-reload}}}}
